{
  // Tell the linter to expect ES6 features
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  // Variables to allow from external libraries
  "env": {
    "browser": true, // browser global variables.
    "node": true, // Node.js global variables and Node.js-specific rules.
    "amd": true // defines require() and define() as global variables as per the amd spec.
  },
  // Variables to allow arbitrarirly, use sparingly!
  "globals": {
    "window": true,
    "document": true
  },
  // NPM plugins for ESLint
  "plugins": [],
  // Use recommended rules
  "extends": "airbnb",
  // Specific rule overrides
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "class-methods-use-this": "off",
    "curly": [
      "error",
      "all"
    ],
    "no-implicit-coercion": [
      "error",
      {
        "boolean": true,
        "number": true,
        "string": true,
        "allow": []
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-debugger": "warn",
    "padded-blocks": "off",
    "prefer-destructuring": [
      "warn",
      {
        "array": true,
        "object": true
      }
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "eol-last": "off",
    "max-len": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "operator-assignment": "off",
    "semi-spacing": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "never"
      }
    ],
    "indent": [
      "error",
      4
    ],
    // Project-specific
    "arrow-body-style": "off",
    "function-paren-newline": "off",
    "no-script-url": "off",
    "no-tabs": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/prefer-stateless-function": "off"
  }
}
